@import url(root.css);
@import url(home-menu-modal.css);

body {
    background: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

header {
    width: 100%;
    position: relative;
}

.img {
    position: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
}

.exit {
    cursor: pointer;
    position: absolute;
    left: 30px;
    padding: 0 5px;
    border: 1px solid var(--bg-light);
    border-radius: 50%;
    background: var(--bg-light);
    font-size: 3rem;
    color: var(--blue);
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.exit:hover {
    background-color: var(--blue);
    color: var(--bg-light);
    transform: scale(1.1);
}


main {
    background-color: var(--bg-lighter);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bg-light);
    border: 1px solid var(--blue);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img {
    width: 100%;
}

.menu {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em 0;
}

.menu h1,
.menu h2,
.menu h3 {
    text-align: center;
    color: var(--blue);
    font-size: 1.75rem;
}

.dayTxt::before {
    content: "Hoje é dia: ";
}

.menu p,
.menu ul li {
    font-size: 1.2rem;
}

.menuButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 2rem;
    padding: 0 0 20px 0;
}

.menuButtons button,
.menuButtons a {
    cursor: pointer;
    width: 150px;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    font-size: 90%;
    color: var(--blue);
    background-color: var(--bg-lighter);
    outline: 0;
    border-radius: 0 10px;
    border: 1px solid var(--blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: .2s;
}

.menuButtons button:hover,
.menuButtons a:hover {
    background-color: var(--blue);
    color: var(--bg-lighter);
    border: 1px solid grey;
    transform: scale(1.05);
}

footer {
    background: var(--gradient);
    width: 100%;
    padding: .5rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

footer a {
    padding: 0;
    width: fit-content;
    background: transparent;
    color: var(--bg-light);
    text-decoration: none;
    outline: none;
    border: none;
}

footer h1 {
    font-size: 1.25rem;
    color: var(--bg-light);
    text-shadow: 0 0 4px black;
}

@media screen and (max-width:1000px) {
    .main {
        grid-template-columns: 1fr;
    }

    .imgContainer img {
        width: 75%;
    }
}

@media screen and (max-width: 555px) {
    .exit {
        left: 15px;
    }

    .imgContainer {
        display: none;
    }

    .main {
        width: 90vw;
        padding: .777rem;
    }

    .menu h1,
    .menu h2,
    .menu h3 {
        font-size: 1.25rem;
    }

    .menu p, .menu ul li {
        font-size: .95rem;
        list-style: none;
    }

    .menuButtons {
        flex-wrap: wrap;
        gap: .5rem;
    }

    footer h1 {
        font-size: .84rem;
    }
}